{% extends "base.html" %}
{% block content %}
    <h2>About</h2>
    <p>GuitarToTab converts WAV audio files to guitar tablature. It is ideal for short snippets of audio ranging from 5-10 seconds. 
        This app is meant to be used as a "notebook" for short guitar riffs.</p>

    <p>To use the app make an account and then select "New Tab" from the navbar.
        Then choose between recording audio or uploading pre-existing audio. 
        After choosing a title and uploading audio, press "Create Tab"
    </p>
    <p>
        For editing/ deleting tabs simply click on the tab title while on the "My Tabs" page.
    </p>
{% endblock content %}